@model IEnumerable<proyecto_ecommerce_.NET_MVC_.Models.Producto>

@{
    ViewData["Title"] = "Home Page";
    var i = 0;
    foreach(var item in Model){
        i++;
    }
}

<div class="container mt-1">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb il-flex il-flex-wrap il-items-center il-gap-1.5 il-break-words il-text-sm il-text-muted-foreground sm:il-gap-2.5">
            <li class="il-inline-flex il-items-center il-gap-1.5"><a asp-action="Index">Home</a></li>
        </ol>

    </nav>

    <!-- Título -->
    <h5 class="mb-2">Tienda de ecommerce <span class="text-muted">(@i productos disponibles)</span></h5>

    <!-- Productos -->
    <div class="row">
        <!-- Tarjeta de producto (dinámica con un for loop) -->
        <!-- Simula un producto -->
        @foreach(var item in Model){
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card text-center">
                <img src="@item.Imagen" class="card-img-top" alt="Producto" width="60%">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text fw-bold text-primary">$ @item.Precio</p>
                    <a asp-route-id="@item.Id" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>

<style>
    a{
        color: inherit;
        text-decoration: inherit;
    }
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /*local*/
    .container .row img{
        padding:5px;
        border-radius:16px;
    }
</style>
