@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-1">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb il-flex il-flex-wrap il-items-center il-gap-1.5 il-break-words il-text-sm il-text-muted-foreground sm:il-gap-2.5">
            <li class="il-inline-flex il-items-center il-gap-1.5"><a href="#">Home</a></li>
            <li class="il-inline-flex il-items-center il-gap-1.5">></li>
            <li class="il-inline-flex il-items-center il-gap-1.5"><a href="#">Home</a></li>
        </ol>

    </nav>

    <!-- Título -->
    <h5 class="mb-2">Tienda de ecommerce <span class="text-muted">(163 productos disponibles)</span></h5>

    <!-- Productos -->
    <div class="row">
        <!-- Tarjeta de producto (dinámica con un for loop) -->
        <!-- Simula un producto -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card text-center">
                <img src="~/images/producto.jpeg" class="card-img-top" alt="Producto" width="70%">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text fw-bold text-primary">$ 100</p>
                    <a href="" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card text-center">
                <img src="~/images/producto.jpeg" class="card-img-top" alt="Producto" width="70%">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text fw-bold text-primary">$ 100</p>
                    <a href="" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card text-center">
                <img src="~/images/producto.jpeg" class="card-img-top" alt="Producto" width="70%">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text fw-bold text-primary">$ 100</p>
                    <a href="" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    a{
        color: inherit;
        text-decoration: inherit;
    }
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
